* {box-sizing: border-box;}
@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #dfd2d2;
  padding: 20px 10px;
  margin-top: 0 ;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: rgb(212, 190, 190);
  color: black;
}

.header a.active {
  background-color: rgb(71, 48, 63);
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}
td, th {
  border: 1px solid #999;
  padding: 0.5rem;
}
tr:hover {background-color: #dfd2d2;}
.footer {
  overflow: hidden;
  background-color: #dfd2d2;
  padding: 20px 10px;
}


.form-style label{
    display:block;
    margin-bottom: 10px;
    font-family: 'Water Brush', cursive;
}
.form-style label > span{
    float: left;
    width: 100px;
    color: #F072A9;
    font-weight: bold;
    font-size: 13px;
    text-shadow: 1px 1px 1px #fff;
    font-family: 'Water Brush', cursive;
}
.form-style fieldset{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #FFD2D2;
    padding: 20px;
    background: #FFF4F4;
    box-shadow: inset 0px 0px 15px #FFE5E5;
    -moz-box-shadow: inset 0px 0px 15px #FFE5E5;
    -webkit-box-shadow: inset 0px 0px 15px #FFE5E5;
    font-family: 'Water Brush', cursive;
}
.form-style fieldset legend{
    color: #FFA0C9;
    border-top: 1px solid #FFD2D2;
    border-left: 1px solid #FFD2D2;
    border-right: 1px solid #FFD2D2;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    background: #FFF4F4;
    padding: 0px 8px 3px 8px;
    box-shadow: -0px -1px 2px #F1F1F1;
    -moz-box-shadow:-0px -1px 2px #F1F1F1;
    -webkit-box-shadow:-0px -1px 2px #F1F1F1;
    font-weight: normal;
    font-size: 12px;
    font-family: 'Water Brush', cursive;
}
.form-style textarea{
    width:250px;
    height:100px;
}
.form-style input[type=text],
.form-style input[type=date],
.form-style input[type=datetime],
.form-style input[type=number],
.form-style input[type=search],
.form-style input[type=time],
.form-style input[type=url],
.form-style input[type=email],
.form-style select, 
.form-style textarea{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #FFC2DC;
    outline: none;
    color: #ecc7d7;
    padding: 5px 8px 5px 8px;
    box-shadow: inset 1px 1px 4px #FFD5E7;
    -moz-box-shadow: inset 1px 1px 4px #FFD5E7;
    -webkit-box-shadow: inset 1px 1px 4px #FFD5E7;
    background: #FFEFF6;
    width:50%;
    font-family: 'Water Brush', cursive;
}
.form-style  input[type=submit],
.form-style  input[type=button]{
    background: #e6ccd7;
    border: 1px solid #f5f1f3;
    padding: 5px 15px 5px 15px;
    color: #d33775;
    box-shadow: inset -1px -1px 3px #694f5a;
    -moz-box-shadow: inset -1px -1px 3px #694f5a;
    -webkit-box-shadow: inset -1px -1px 3px #694f5a;
    border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-weight: bold;
    font-family: 'Water Brush', cursive;
}
.required{
    color:red;
    font-weight:normal;
}

.flex-container {
  display: flex;
  gap: 5% ;
  background-color: rgb(229, 208, 231);
  flex-wrap: wrap;
}